html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WebSocet & webrtc
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 ZOOM CLONE
        main
            h3 Welcom to Zoom Clone
            div#welcome
                form(action="")
                    legend
                        h4 CAM CHAT
                    input(type="text", name="" placeholder="Room Name" required)
                    button Enter Room
            div#call(hidden)
                div#myStream
                    video#myFace(autoplay, playsinLine, width='400', height='400')
                    button#mute MUTE
                    button#camera CAM OFF
                    select#cameras(name='')
                        option(value="device") 선택
                div
                    video#peerStream(autoplay, playsinLine, width='400', height='400')
            div#room(hidden)
                form
                    legend 
                        h4 NICK NAME
                    input(id="nick" type="text" placeholder="Write a Nick Name" required)
                    legend 
                        h4 Input Room Name
                    input(id="room" text="text" placeholder="Write a Room Name" required)
                    button(type="submit") JOIN Enter Room
                
            div#chat(hidden)
                ul
                form#msgSend
                    legend 
                        h4
                    input(type="text" placeholder="Write a message" required)
                    button(type="submit") send Msg
            div#roomList
                h4 OPEN ROOMS
                ul
        script(src="/socket.io/socket.io.js")
        script(src="public/js/frontend.js") 